cat << 'EOF' > .gitignore
# [ROOT] General
.DS_Store
.vscode/
.idea/
*.sln.docuser
.vs/

# [API] .NET Standards
**/bin/
**/obj/
TodoApp.Api/bin/
TodoApp.Api/obj/
*.user
*.userosscache

# [UI] Angular Standards
**/node_modules/
TodoApp.Ui/node_modules/
TodoApp.Ui/.angular/
TodoApp.Ui/dist/
**/dist/
**/.angular/
npm-debug.log*

# [TEST] Playwright
test-results/
playwright-report/
blob-report/
EOF