<p-toolbar styleClass="mb-4 shadow-1 border-none bg-gray-50" [style]="{'border-radius': '12px'}">
  <span class="text-600 font-medium text-lg ml-2" style="letter-spacing: 0.5px;">
    Task Management
  </span>
  <div class="gap-2 flex">
    <span [pTooltip]="selectedCount === 0 ? 'Select tasks to delete' : ''" tooltipPosition="bottom">
      <p-button 
        label="Delete Selected" 
        icon="pi pi-trash" 
        severity="danger" 
        [disabled]="selectedCount === 0"
        (onClick)="deleteSelected.emit()">
      </p-button>
    </span>

    <p-button label="New Task" icon="pi pi-plus" severity="primary" [raised]="true" (onClick)="newTask.emit()"></p-button>
    <p-button label="Add Demo Data" icon="pi pi-plus" severity="secondary" [raised]="true" (onClick)="seedData()"></p-button>

    <p-button icon="pi pi-refresh" [text]="true" severity="secondary" (onClick)="refresh.emit()" [loading]="loading"></p-button>
  </div>
</p-toolbar>