<p-panel [toggleable]="true">
  <ng-template #header>
    <div class="flex items-center gap-2">
      <span class="font-bold">Task Analytics</span>
    </div>
  </ng-template>

  <div class="card flex justify-content-center" style="height: 250px">
  @if (data && (data.datasets[0].data[0] > 0 || data.datasets[0].data[1] > 0)) {
    <p-chart type="bar" [data]="data" [options]="options" style="width: 100%"></p-chart>
  } @else if (data) {
    <div class="flex flex-column align-items-center justify-content-center w-full text-surface-400">
      <i class="pi pi-database text-3xl mb-2"></i>
      <p class="text-sm font-medium">No tasks found for selected range</p>
    </div>
  } @else {
    <div class="flex flex-column align-items-center justify-content-center w-full">
      <i class="pi pi-spin pi-spinner text-2xl mb-2"></i>
      <p class="text-sm">Refreshing Data...</p>
    </div>
  }
</div>
  <ng-template #footer>
  <div class="flex flex-column w-full gap-2">
    
    <div class="flex justify-content-between align-items-center w-full">
      <div class="flex gap-2">
        <p-datepicker
          [(ngModel)]="startDate"
          (onSelect)="refreshChart()"
          [showIcon]="true"
          placeholder="Start"
          [maxDate]="endDate()"
          [style]="{'width': '135px'}"
          inputStyleClass="text-xs p-2"
        />
        <p-datepicker
          [(ngModel)]="endDate"
          (onSelect)="refreshChart()"
          [showIcon]="true"
          placeholder="End"
          [minDate]="startDate()"
          [style]="{'width': '135px'}"
          inputStyleClass="text-xs p-2"
        />
      </div>
    </div>

    <div class="flex justify-content-end w-full">
      <span class="text-xs text-surface-400 px-1">Live Backend Data</span>
    </div>

  </div>
</ng-template>
</p-panel>
