<div class="p-4 flex justify-content-center">
  <div class="w-full max-w-7xl">
    
    <app-todo-toolbar
      [selectedCount]="selectedTodos.length"
      [loading]="loading"
      (deleteSelected)="deleteSelectedTodos()"
      (newTask)="handleNewTask()"
      (refresh)="fetchTodos()">
    </app-todo-toolbar>

    <p-table
      [value]="todos"
      [(selection)]="selectedTodos" 
      dataKey="id"
      [lazy]="true"
      (onLazyLoad)="onLazyLoad($event)"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 50]"
      [loading]="loading"
      sortField="createdAt"
      [sortOrder]="-1"
      styleClass="p-datatable-striped shadow-2 border-round overflow-hidden"
    >
      <ng-template pTemplate="header">
        <tr app-todo-header></tr> 
      </ng-template>

      <ng-template pTemplate="body" let-todo>
        <tr 
          app-todo-body 
          [todo]="todo" 
          [deletingId]="deletingId"
          [pSelectableRow]="todo"
          (toggle)="toggleComplete($event)"
          (delete)="deleteTodo($event)">
        </tr>
      </ng-template>

      <ng-template pTemplate="loadingbody">
        @for (i of [1, 2, 3, 4, 5]; track $index) {
          <tr app-todo-loading></tr>
        }
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr 
          app-todo-emptymessage 
          [hasError]="hasError" 
          [loading]="loading"
          (retry)="fetchTodos()">
        </tr>
      </ng-template>

    </p-table>
  </div>
</div>