
.description-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  word-break: break-word;
  max-width: 100%; 
}

.description-full {
  -webkit-line-clamp: unset !important;
  display: block !important;
  white-space: normal !important;
}