<td><p-tableCheckbox [value]="todo"></p-tableCheckbox></td>
<td>
  <div class="flex align-items-center gap-3">
    <div class="flex flex-column">
      <span [class.line-through]="todo.isCompleted" class="font-medium text-900">{{
        todo.title
      }}</span>
      @if (todo.description) {
        <small
          #desc
          class="text-secondary mt-1 description-truncate"
          [class.description-full]="desc.getAttribute('data-expanded') === 'true'"
          (click)="
            desc.setAttribute(
              'data-expanded',
              desc.getAttribute('data-expanded') === 'true' ? 'false' : 'true'
            )
          "
          [pTooltip]="
            desc.getAttribute('data-expanded') !== 'true' ? 'Click to expand' : 'Click to collapse'
          "
        >
          {{ todo.description }}
        </small>
      }
    </div>
  </div>
</td>
<td>
  <p-tag
    [severity]="getPrioritySeverity(todo.priority)"
    [value]="todo.priority"
    [rounded]="true"
  ></p-tag>
</td>
<td class="text-sm">
  <i class="pi pi-clock mr-1 text-xs"></i>{{ todo.createdAt | date: 'dd.MM.yyyy HH:mm' }}
</td>
<td class="text-secondary text-sm">
  @if (todo.deadline) {
    <div class="flex align-items-center gap-1" [class.text-orange-500]="isToday(todo.deadline)">
      <i [class]="isToday(todo.deadline) ? 'pi pi-exclamation-triangle' : 'pi pi-calendar'" 
         class="text-xs"
         [pTooltip]="isToday(todo.deadline) ? 'Due Today!' : ''">
      </i>
      <span>{{ todo.deadline | date: 'dd.MM.yyyy HH:mm' }}</span>
    </div>
  } @else {
    <span class="text-400">-</span>
  }
</td>
<td class="text-center">
  <p-tag
    [severity]="todo.isCompleted ? 'success' : 'warn'"
    [value]="todo.isCompleted ? 'Completed' : 'Pending'"
    class="cursor-pointer transition-all active:scale-95"
    [pTooltip]="'Click to change status'"
    tooltipPosition="left"
    [style]="{ cursor: 'pointer' }"
    (click)="toggle.emit(todo)"
  >
  </p-tag>
</td>
<td class="flex">
  <p-button
    icon="pi pi-pencil"
    [rounded]="true"
    [text]="true"
    severity="secondary"
    (onClick)="edit.emit(todo)"
    pTooltip="Edit Task"
    tooltipPosition="bottom"
  ></p-button>
  <p-button
    [icon]="deletingId === todo.id ? 'pi pi-spin pi-spinner' : 'pi pi-trash'"
    [disabled]="deletingId === todo.id"
    [rounded]="true"
    [text]="true"
    severity="danger"
    (onClick)="delete.emit(todo.id)"
  ></p-button>
</td>
