<div class="flex justify-content-center">
  <div class="w-full max-w-7xl">
    <app-todo-toolbar
      [selectedCount]="selectedTodos.length"
      [loading]="loading"
      (deleteSelected)="deleteSelectedTodos()"
      (newTask)="openDialog()"
      (refresh)="fetchTodos()"
    >
    </app-todo-toolbar>

    <p-table
      [value]="todos"
      [(selection)]="selectedTodos"
      dataKey="id"
      [lazy]="true"
      (onLazyLoad)="onLazyLoad($event)"
      [paginator]="true"
      [rows]="rows"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 50]"
      [loading]="loading"
      sortField="createdAt"
      [sortOrder]="-1"
      class="p-datatable-striped shadow-2 border-round overflow-hidden"
    >
      <ng-template pTemplate="header">
        <tr app-todo-header></tr>
      </ng-template>

      <ng-template pTemplate="body" let-todo>
        <tr
          app-todo-body
          [todo]="todo"
          [deletingId]="deletingId"
          [pSelectableRow]="todo"
          (toggle)="toggleComplete($event)"
          (delete)="deleteTodo($event)"
        ></tr>
      </ng-template>

      <ng-template pTemplate="loadingbody">
        @for (i of [1, 2, 3, 4, 5]; track $index) {
          <tr app-todo-loading></tr>
        }
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr
          app-todo-emptymessage
          [hasError]="hasError"
          [loading]="loading"
          (retry)="fetchTodos()"
          (addFirstTask)="openDialog()"
        ></tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog 
  [(visible)]="displayDialog" 
  [header]="isEditMode ? 'Edit Task' : 'New Task'" 
  [modal]="true" 
  [style]="{ width: '450px' }" 
  [draggable]="false" 
  [resizable]="false">
  
  @if (displayDialog) {
    <app-todo-dialog 
      [todo]="selectedTodo" 
      [isEditMode]="isEditMode"
      (onSave)="handleSave($event)" 
      (onCancel)="displayDialog = false">
    </app-todo-dialog>
  }
</p-dialog>
